name: docs-publish

on:
  push:
    branches: [ "main" ]
    # To publish docs on any branch push, use the following:
    #branches:
    #  - "**"

  workflow_dispatch:

jobs:
  build-docs:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Check-out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[docs]"
          pip install quartodoc

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Build quartodoc
        run: |
          quartodoc build --verbose

      - name: Render Quarto site
        run: |
          quarto render

      - name: Deploy to gh-pages (keep PR previews)
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: docs
          clean: true
          clean-exclude: |
            pr-preview/**
